@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body,
#root {
    height: 100%;
}

.min-height-80 {
    background: #ff0000;
}

.radius-50 {
    border-radius: 50%;
}

.custom-border {
    border: 3px solid rgb(28, 44, 185);
}

.custom-border2 {
    border: 3px solid rgb(59, 185, 28);
}

.largura-50vw {
    width: 50vw;
}

.largura-70vw {
    width: 70vw;
}

.h-80vh {
    min-height: 80vh;
    /* Ensure the container fills at least the height of the viewport */
    /* display: flex; */
    /* flex-direction: column; */
    /* Ensure child elements stack vertically */
}

.h-90vh {
    min-height: 90vh;
}

.h-100vh {
    min-height: 100vh;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    right: 0;
}

textarea {
    resize: none;
}

.box-shadow {
    box-shadow: 0px px 20px 10px #2b6cb0;
}

.fixed-lg-width {
    width: 400px;
    height: auto;
}

.fixed-width {
    width: 275px;
    height: auto;
}