@tailwind base;
@tailwind components;
@tailwind utilities;

.min-height-75 {
    min-height: 83vh;
}

.radius-50 {
    border-radius: 50%;
}

.footer-new {
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;      /* remove bottom whitespace */
}